.d-flex{
    right: 0;
    width: 20vw;
}
.list{
    right: 0;
    position: absolute;
    text-align: center;
    width: 26vw;
    top: 5vw;
}
#rectangle{
    width: 20vw;
    height: 600px;
    right: 3vw;
    position: absolute;
    background: #eee;
}